        <div class="container">
            <div class="row  p-4">
                <div class="col-12 bg-light bg-gradient">
                    <h2>Ingrese un producto</h2> 
                    <form action="/api/productos" method="post" class="myForm" enctype="application/json">
                        <div class="form-group">
                            <label for="title">Nombre</label> 
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="price">Precio</label> 
                            <input type="Number" name="price" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="thumbnail">Ingrese URL de la imagen del producto</label> 
                            <input type="text" name="thumbnail" class="form-control">
                        </div>
                    </form>
                </div> 
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <button type="submit" class="btn btn-secondary">Enviar</button> 
                </div>
                <div class="col-6">
                    <button class="btn btn-primary" type="button" href="/api/productos">Regresar al formulario</button> 
                </div>
            </div>
        </div>